In [31]:
from bs4 import BeautifulSoup
import numpy as np
import time
from selenium.webdriver import Edge
import pandas as pd
import random
import regex as re

In [3]:
URL = 'https://www.spinny.com/used-cars-in-{}/s/'

In [22]:
CITIES = [
    'delhi-ncr','bangalore'
]

Scroll_Pause = 3           # wait time after each scroll
Max_Scrolls = 30             # safety limit

car, variant, km, fuel, transmission, registration, price, location, City = [], [], [], [], [], [], [], [], []
driver = Edge()
total_start_time = time.time()
for city in CITIES:
    Target_Records = random.randint(301,380)  # minimum records to load before scraping
    driver.get(URL.format(city))
    time.sleep(5)
    city_start_time = time.time()
    print(f"\n Loading city: {city}")


    last_count = 0
    scroll_count = 0
    last_height=driver.execute_script('return document.body.scrollHeight')
    while scroll_count < Max_Scrolls:
        soup = BeautifulSoup(driver.page_source, 'lxml')
        cards = soup.find_all('div', class_="CarListingCardDetail__productDetailContainer")
        current_count = len(cards)

        print(f"   -> Loaded cards: {current_count}")

        # Stop if no new cards OR target reached
        if current_count == last_count or current_count >= Target_Records:
            break

        last_count = current_count

        last_card = driver.find_elements("css selector", "div.CarListingCardDetail__productDetailContainer")[-1]

        driver.execute_script("arguments[0].scrollIntoView({block:'center'});",last_card)

        time.sleep(Scroll_Pause)
        new_height=driver.execute_script("return document.body.scrollHeight")
        scroll_count += 1
        if last_height==new_height:
            break
        else:
            last_height=new_height
    print(f"   Finished loading {current_count} cards")
    city_records = 0
    for c in cards:
        car.append(c.find('span', class_="ListingBrandModelDetail__make").text if c.find('span', class_="ListingBrandModelDetail__make") else np.nan)
        price.append(c.find('span', class_="ListingBrandModelDetail__priceWithRupeeSymbol").text if c.find('span', class_="ListingBrandModelDetail__priceWithRupeeSymbol") else np.nan)

        variant.append(c.find('span', class_="ListingPricingDetail__variant").text if c.find('span', class_="ListingPricingDetail__variant") else np.nan)
        
        info = c.find('ul', class_="CarListingCardDetail__more")
        a=info.find_all('li')
        km.append(a[0].text if len(a) > 0 else np.nan)
        fuel.append(a[1].text if len(a) > 1 else np.nan)
        transmission.append(a[2].text if len(a) > 2 else np.nan)
        registration.append(a[3].text if len(a) > 3 else np.nan)
        #price.append(c.find('p', class_="sc-bcXHqh hvRpEM").text if c.find('p', class_="sc-bcXHqh hvRpEM") else np.nan)
        location.append(c.find('span', class_="HubDetails__hubAddress HubDetails__truncateHubDesktop").text if c.find('span', class_="HubDetails__hubAddress HubDetails__truncateHubDesktop") else np.nan)
        City.append(city)
        city_records += 1

    city_time = time.time() - city_start_time
    print(f"   Records scraped: {city_records}")
    print(f"   Time taken: {city_time:.2f} seconds")
    
driver.quit()
df1 = pd.DataFrame({
    'car': car,
    'variant': variant,
    'km': km,
    'fuel': fuel,
    'transmission': transmission,
    'registration': registration,
    'price': price,
    'location': location,
    'city' : City
})
df1.drop_duplicates(inplace=True,ignore_index=True)
df1.dropna(ignore_index=True).to_csv('Raw_Data1.csv', index=False)


total_time = time.time() - total_start_time
print(f"\nTOTAL TIME: {total_time:.2f} seconds")
print(f"TOTAL RECORDS: {len(df1)}")
print("Scraping completed successfully")

 Loading city: delhi-ncr
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 62
   -> Loaded cards: 82
   -> Loaded cards: 102
   -> Loaded cards: 122
   -> Loaded cards: 142
   -> Loaded cards: 162
   -> Loaded cards: 182
   -> Loaded cards: 202
   -> Loaded cards: 222
   -> Loaded cards: 242
   -> Loaded cards: 262
   -> Loaded cards: 282
   -> Loaded cards: 302
   -> Loaded cards: 322
   -> Loaded cards: 342
   Finished loading 342 cards
   Records scraped: 342
   Time taken: 67.00 seconds

 Loading city: bangalore
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 62
   -> Loaded cards: 82
   -> Loaded cards: 102
   -> Loaded cards: 122
   -> Loaded cards: 142
   -> Loaded cards: 162
   -> Loaded cards: 182
   -> Loaded cards: 202
   -> Loaded cards: 222
   -> Loaded cards: 242
   -> Loaded cards: 262
   -> Loaded cards: 282
   -> Loaded cards: 302
   -> Loaded cards: 322
   -> Loaded cards: 342
   Finished loading 342 cards
   Records scraped: 342
   Time taken: 66.52 seconds

TOTAL TIME: 160.11 seconds
TOTAL RECORDS: 683
Scraping completed successfully

In [5]:
CITIES = [
    'mumbai','pune','delhi', 'gurgaon'
]

Scroll_Pause = 3           # wait time after each scroll
Max_Scrolls = 30             # safety limit

car, variant, km, fuel, transmission, registration, price, location, City = [], [], [], [], [], [], [], [], []
driver = Edge()
total_start_time = time.time()
for city in CITIES:
    Target_Records = random.randint(200,300)  # minimum records to load before scraping
    driver.get(URL.format(city))
    time.sleep(5)
    city_start_time = time.time()
    print(f"\n Loading city: {city}")


    last_count = 0
    scroll_count = 0
    last_height=driver.execute_script('return document.body.scrollHeight')
    while scroll_count < Max_Scrolls:
        soup = BeautifulSoup(driver.page_source, 'lxml')
        cards = soup.find_all('div', class_="CarListingCardDetail__productDetailContainer")
        current_count = len(cards)

        print(f"   -> Loaded cards: {current_count}")

        # Stop if no new cards OR target reached
        if current_count == last_count or current_count >= Target_Records:
            break

        last_count = current_count

        last_card = driver.find_elements("css selector", "div.CarListingCardDetail__productDetailContainer")[-1]

        driver.execute_script("arguments[0].scrollIntoView({block:'center'});",last_card)

        time.sleep(Scroll_Pause)
        new_height=driver.execute_script("return document.body.scrollHeight")
        scroll_count += 1
        if last_height==new_height:
            break
        else:
            last_height=new_height
    print(f"   Finished loading {current_count} cards")
    city_records = 0
    for c in cards:
        car.append(c.find('span', class_="ListingBrandModelDetail__make").text if c.find('span', class_="ListingBrandModelDetail__make") else np.nan)
        price.append(c.find('span', class_="ListingBrandModelDetail__priceWithRupeeSymbol").text if c.find('span', class_="ListingBrandModelDetail__priceWithRupeeSymbol") else np.nan)

        variant.append(c.find('span', class_="ListingPricingDetail__variant").text if c.find('span', class_="ListingPricingDetail__variant") else np.nan)
        
        info = c.find('ul', class_="CarListingCardDetail__more")
        a=info.find_all('li')
        km.append(a[0].text if len(a) > 0 else np.nan)
        fuel.append(a[1].text if len(a) > 1 else np.nan)
        transmission.append(a[2].text if len(a) > 2 else np.nan)
        registration.append(a[3].text if len(a) > 3 else np.nan)
        #price.append(c.find('p', class_="sc-bcXHqh hvRpEM").text if c.find('p', class_="sc-bcXHqh hvRpEM") else np.nan)
        location.append(c.find('span', class_="HubDetails__hubAddress HubDetails__truncateHubDesktop").text if c.find('span', class_="HubDetails__hubAddress HubDetails__truncateHubDesktop") else np.nan)
        City.append(city)
        city_records += 1

    city_time = time.time() - city_start_time
    print(f"   Records scraped: {city_records}")
    print(f"   Time taken: {city_time:.2f} seconds")
    
driver.quit()
df2 = pd.DataFrame({
    'car': car,
    'variant': variant,
    'km': km,
    'fuel': fuel,
    'transmission': transmission,
    'registration': registration,
    'price': price,
    'location': location,
    'city' : City
})
df2.drop_duplicates(inplace=True,ignore_index=True)
df2.dropna(ignore_index=True).to_csv('Raw_Data2.csv', index=False)


total_time = time.time() - total_start_time
print(f"\nTOTAL TIME: {total_time:.2f} seconds")
print(f"TOTAL RECORDS: {len(df2)}")
print("Scraping completed successfully")

 Loading city: mumbai
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 62
   -> Loaded cards: 82
   -> Loaded cards: 102
   -> Loaded cards: 122
   -> Loaded cards: 142
   -> Loaded cards: 162
   -> Loaded cards: 182
   -> Loaded cards: 202
   -> Loaded cards: 222
   -> Loaded cards: 242
   -> Loaded cards: 262
   -> Loaded cards: 282
   -> Loaded cards: 302
   Finished loading 302 cards
   Records scraped: 302
   Time taken: 58.07 seconds

 Loading city: pune
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 62
   -> Loaded cards: 82
   -> Loaded cards: 102
   -> Loaded cards: 122
   -> Loaded cards: 142
   -> Loaded cards: 162
   -> Loaded cards: 182
   -> Loaded cards: 202
   -> Loaded cards: 222
   -> Loaded cards: 242
   -> Loaded cards: 262
   -> Loaded cards: 282
   Finished loading 282 cards
   Records scraped: 282
   Time taken: 52.09 seconds

 Loading city: delhi
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 62
   -> Loaded cards: 82
   -> Loaded cards: 102
   -> Loaded cards: 122
   -> Loaded cards: 142
   -> Loaded cards: 162
   -> Loaded cards: 182
   -> Loaded cards: 202
   -> Loaded cards: 222
   -> Loaded cards: 242
   -> Loaded cards: 262
   -> Loaded cards: 282
   Finished loading 282 cards
   Records scraped: 282
   Time taken: 52.88 seconds

 Loading city: gurgaon
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 62
   -> Loaded cards: 82
   -> Loaded cards: 102
   -> Loaded cards: 122
   -> Loaded cards: 142
   -> Loaded cards: 162
   -> Loaded cards: 182
   -> Loaded cards: 202
   -> Loaded cards: 222
   -> Loaded cards: 242
   -> Loaded cards: 262
   -> Loaded cards: 282
   -> Loaded cards: 302
   Finished loading 302 cards
   Records scraped: 302
   Time taken: 57.49 seconds

TOTAL TIME: 262.97 seconds
TOTAL RECORDS: 1167
Scraping completed successfully

In [6]:
CITIES = [
    'noida', 'ahmedabad', 'chennai', 'kolkata'
]

Scroll_Pause = 3           # wait time after each scroll
Max_Scrolls = 30             # safety limit

car, variant, km, fuel, transmission, registration, price, location, City = [], [], [], [], [], [], [], [], []
driver = Edge()
total_start_time = time.time()
for city in CITIES:
    Target_Records = random.randint(200,300)  # minimum records to load before scraping
    driver.get(URL.format(city))
    time.sleep(5)
    city_start_time = time.time()
    print(f"\n Loading city: {city}")


    last_count = 0
    scroll_count = 0
    last_height=driver.execute_script('return document.body.scrollHeight')
    while scroll_count < Max_Scrolls:
        soup = BeautifulSoup(driver.page_source, 'lxml')
        cards = soup.find_all('div', class_="CarListingCardDetail__productDetailContainer")
        current_count = len(cards)

        print(f"   -> Loaded cards: {current_count}")

        # Stop if no new cards OR target reached
        if current_count == last_count or current_count >= Target_Records:
            break

        last_count = current_count

        last_card = driver.find_elements("css selector", "div.CarListingCardDetail__productDetailContainer")[-1]

        driver.execute_script("arguments[0].scrollIntoView({block:'center'});",last_card)

        time.sleep(Scroll_Pause)
        new_height=driver.execute_script("return document.body.scrollHeight")
        scroll_count += 1
        if last_height==new_height:
            break
        else:
            last_height=new_height
    print(f"   Finished loading {current_count} cards")
    city_records = 0
    for c in cards:
        car.append(c.find('span', class_="ListingBrandModelDetail__make").text if c.find('span', class_="ListingBrandModelDetail__make") else np.nan)
        price.append(c.find('span', class_="ListingBrandModelDetail__priceWithRupeeSymbol").text if c.find('span', class_="ListingBrandModelDetail__priceWithRupeeSymbol") else np.nan)

        variant.append(c.find('span', class_="ListingPricingDetail__variant").text if c.find('span', class_="ListingPricingDetail__variant") else np.nan)
        
        info = c.find('ul', class_="CarListingCardDetail__more")
        a=info.find_all('li')
        km.append(a[0].text if len(a) > 0 else np.nan)
        fuel.append(a[1].text if len(a) > 1 else np.nan)
        transmission.append(a[2].text if len(a) > 2 else np.nan)
        registration.append(a[3].text if len(a) > 3 else np.nan)
        #price.append(c.find('p', class_="sc-bcXHqh hvRpEM").text if c.find('p', class_="sc-bcXHqh hvRpEM") else np.nan)
        location.append(c.find('span', class_="HubDetails__hubAddress HubDetails__truncateHubDesktop").text if c.find('span', class_="HubDetails__hubAddress HubDetails__truncateHubDesktop") else np.nan)
        City.append(city)
        city_records += 1

    city_time = time.time() - city_start_time
    print(f"   Records scraped: {city_records}")
    print(f"   Time taken: {city_time:.2f} seconds")
    
driver.quit()
df3 = pd.DataFrame({
    'car': car,
    'variant': variant,
    'km': km,
    'fuel': fuel,
    'transmission': transmission,
    'registration': registration,
    'price': price,
    'location': location,
    'city' : City
})
df3.drop_duplicates(inplace=True,ignore_index=True)
df3.dropna(ignore_index=True).to_csv('Raw_Data3.csv', index=False)


total_time = time.time() - total_start_time
print(f"\nTOTAL TIME: {total_time:.2f} seconds")
print(f"TOTAL RECORDS: {len(df3)}")
print("Scraping completed successfully")

 Loading city: noida
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 62
   -> Loaded cards: 82
   -> Loaded cards: 102
   -> Loaded cards: 122
   -> Loaded cards: 142
   -> Loaded cards: 162
   -> Loaded cards: 182
   -> Loaded cards: 202
   -> Loaded cards: 222
   Finished loading 222 cards
   Records scraped: 222
   Time taken: 39.32 seconds

 Loading city: ahmedabad
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 62
   -> Loaded cards: 82
   -> Loaded cards: 102
   -> Loaded cards: 122
   -> Loaded cards: 142
   -> Loaded cards: 162
   -> Loaded cards: 182
   -> Loaded cards: 202
   -> Loaded cards: 222
   -> Loaded cards: 242
   -> Loaded cards: 262
   Finished loading 262 cards
   Records scraped: 262
   Time taken: 48.02 seconds

 Loading city: chennai
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 62
   -> Loaded cards: 82
   -> Loaded cards: 102
   -> Loaded cards: 122
   -> Loaded cards: 142
   -> Loaded cards: 162
   -> Loaded cards: 182
   -> Loaded cards: 202
   -> Loaded cards: 222
   -> Loaded cards: 242
   -> Loaded cards: 247
   -> Loaded cards: 252
   -> Loaded cards: 257
   -> Loaded cards: 262
   -> Loaded cards: 267
   -> Loaded cards: 272
   -> Loaded cards: 277
   Finished loading 277 cards
   Records scraped: 277
   Time taken: 74.51 seconds

 Loading city: kolkata
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 62
   -> Loaded cards: 82
   -> Loaded cards: 102
   -> Loaded cards: 122
   -> Loaded cards: 122
   Finished loading 122 cards
   Records scraped: 122
   Time taken: 22.46 seconds

TOTAL TIME: 232.66 seconds
TOTAL RECORDS: 883
Scraping completed successfully

In [10]:
CITIES = [
    'coimbatore','faridabad', 'ghaziabad','kanpur'
]

Scroll_Pause = 3           # wait time after each scroll
Max_Scrolls = 30             # safety limit

car, variant, km, fuel, transmission, registration, price, location, City = [], [], [], [], [], [], [], [], []
driver = Edge()
total_start_time = time.time()
for city in CITIES:
    Target_Records = random.randint(200,300)  # minimum records to load before scraping
    driver.get(URL.format(city))
    time.sleep(5)
    city_start_time = time.time()
    print(f"\n Loading city: {city}")


    last_count = 0
    scroll_count = 0
    last_height=driver.execute_script('return document.body.scrollHeight')
    while scroll_count < Max_Scrolls:
        soup = BeautifulSoup(driver.page_source, 'lxml')
        cards = soup.find_all('div', class_="CarListingCardDetail__productDetailContainer")
        current_count = len(cards)

        print(f"   -> Loaded cards: {current_count}")

        # Stop if no new cards OR target reached
        if current_count == last_count or current_count >= Target_Records:
            break

        last_count = current_count

        last_card = driver.find_elements("css selector", "div.CarListingCardDetail__productDetailContainer")[-1]

        driver.execute_script("arguments[0].scrollIntoView({block:'center'});",last_card)

        time.sleep(Scroll_Pause)
        new_height=driver.execute_script("return document.body.scrollHeight")
        scroll_count += 1
        if last_height==new_height:
            break
        else:
            last_height=new_height
    print(f"   Finished loading {current_count} cards")
    city_records = 0
    for c in cards:
        car.append(c.find('span', class_="ListingBrandModelDetail__make").text if c.find('span', class_="ListingBrandModelDetail__make") else np.nan)
        price.append(c.find('span', class_="ListingBrandModelDetail__priceWithRupeeSymbol").text if c.find('span', class_="ListingBrandModelDetail__priceWithRupeeSymbol") else np.nan)

        variant.append(c.find('span', class_="ListingPricingDetail__variant").text if c.find('span', class_="ListingPricingDetail__variant") else np.nan)
        
        info = c.find('ul', class_="CarListingCardDetail__more")
        a=info.find_all('li')
        km.append(a[0].text if len(a) > 0 else np.nan)
        fuel.append(a[1].text if len(a) > 1 else np.nan)
        transmission.append(a[2].text if len(a) > 2 else np.nan)
        registration.append(a[3].text if len(a) > 3 else np.nan)
        #price.append(c.find('p', class_="sc-bcXHqh hvRpEM").text if c.find('p', class_="sc-bcXHqh hvRpEM") else np.nan)
        location.append(c.find('span', class_="HubDetails__hubAddress HubDetails__truncateHubDesktop").text if c.find('span', class_="HubDetails__hubAddress HubDetails__truncateHubDesktop") else np.nan)
        City.append(city)
        city_records += 1

    city_time = time.time() - city_start_time
    print(f"   Records scraped: {city_records}")
    print(f"   Time taken: {city_time:.2f} seconds")
    
driver.quit()
df4 = pd.DataFrame({
    'car': car,
    'variant': variant,
    'km': km,
    'fuel': fuel,
    'transmission': transmission,
    'registration': registration,
    'price': price,
    'location': location,
    'city' : City
})
df4.drop_duplicates(inplace=True,ignore_index=True)
df4.dropna(ignore_index=True).to_csv('Raw_Data4.csv', index=False)


total_time = time.time() - total_start_time
print(f"\nTOTAL TIME: {total_time:.2f} seconds")
print(f"TOTAL RECORDS: {len(df4)}")
print("Scraping completed successfully")

 Loading city: coimbatore
   -> Loaded cards: 22
   -> Loaded cards: 22
   Finished loading 22 cards
   Records scraped: 22
   Time taken: 3.87 seconds

 Loading city: faridabad
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 62
   -> Loaded cards: 82
   -> Loaded cards: 102
   -> Loaded cards: 122
   -> Loaded cards: 142
   -> Loaded cards: 162
   -> Loaded cards: 164
   Finished loading 164 cards
   Records scraped: 164
   Time taken: 33.48 seconds

 Loading city: ghaziabad
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 62
   -> Loaded cards: 82
   -> Loaded cards: 102
   -> Loaded cards: 122
   -> Loaded cards: 142
   -> Loaded cards: 162
   -> Loaded cards: 182
   -> Loaded cards: 202
   -> Loaded cards: 202
   Finished loading 202 cards
   Records scraped: 202
   Time taken: 40.17 seconds

 Loading city: kanpur
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 57
   Finished loading 57 cards
   Records scraped: 57
   Time taken: 10.68 seconds

TOTAL TIME: 125.70 seconds
TOTAL RECORDS: 445
Scraping completed successfully

In [26]:
CITIES = [
    'hyderabad','vishakapatnam'
]

Scroll_Pause = 3           # wait time after each scroll
Max_Scrolls = 30             # safety limit

car, variant, km, fuel, transmission, registration, price, location, City = [], [], [], [], [], [], [], [], []
driver = Edge()
total_start_time = time.time()
for city in CITIES:
    Target_Records = random.randint(301,400)  # minimum records to load before scraping
    driver.get(URL.format(city))
    time.sleep(5)
    city_start_time = time.time()
    print(f"\n Loading city: {city}")


    last_count = 0
    scroll_count = 0
    last_height=driver.execute_script('return document.body.scrollHeight')
    while scroll_count < Max_Scrolls:
        soup = BeautifulSoup(driver.page_source, 'lxml')
        cards = soup.find_all('div', class_="CarListingCardDetail__productDetailContainer")
        current_count = len(cards)

        print(f"   -> Loaded cards: {current_count}")

        # Stop if no new cards OR target reached
        if current_count == last_count or current_count >= Target_Records:
            break

        last_count = current_count

        last_card = driver.find_elements("css selector", "div.CarListingCardDetail__productDetailContainer")[-1]

        driver.execute_script("arguments[0].scrollIntoView({block:'center'});",last_card)

        time.sleep(Scroll_Pause)
        new_height=driver.execute_script("return document.body.scrollHeight")
        scroll_count += 1
        if last_height==new_height:
            break
        else:
            last_height=new_height
    print(f"   Finished loading {current_count} cards")
    city_records = 0
    for c in cards:
        car.append(c.find('span', class_="ListingBrandModelDetail__make").text if c.find('span', class_="ListingBrandModelDetail__make") else np.nan)
        price.append(c.find('span', class_="ListingBrandModelDetail__priceWithRupeeSymbol").text if c.find('span', class_="ListingBrandModelDetail__priceWithRupeeSymbol") else np.nan)

        variant.append(c.find('span', class_="ListingPricingDetail__variant").text if c.find('span', class_="ListingPricingDetail__variant") else np.nan)
        
        info = c.find('ul', class_="CarListingCardDetail__more")
        a=info.find_all('li')
        km.append(a[0].text if len(a) > 0 else np.nan)
        fuel.append(a[1].text if len(a) > 1 else np.nan)
        transmission.append(a[2].text if len(a) > 2 else np.nan)
        registration.append(a[3].text if len(a) > 3 else np.nan)
        #price.append(c.find('p', class_="sc-bcXHqh hvRpEM").text if c.find('p', class_="sc-bcXHqh hvRpEM") else np.nan)
        location.append(c.find('span', class_="HubDetails__hubAddress HubDetails__truncateHubDesktop").text if c.find('span', class_="HubDetails__hubAddress HubDetails__truncateHubDesktop") else np.nan)
        City.append(city)
        city_records += 1

    city_time = time.time() - city_start_time
    print(f"   Records scraped: {city_records}")
    print(f"   Time taken: {city_time:.2f} seconds")
    
driver.quit()
df5 = pd.DataFrame({
    'car': car,
    'variant': variant,
    'km': km,
    'fuel': fuel,
    'transmission': transmission,
    'registration': registration,
    'price': price,
    'location': location,
    'city' : City
})
df5.drop_duplicates(inplace=True,ignore_index=True)
df5.dropna(ignore_index=True).to_csv('Raw_Data5.csv', index=False)


total_time = time.time() - total_start_time
print(f"\nTOTAL TIME: {total_time:.2f} seconds")
print(f"TOTAL RECORDS: {len(df5)}")
print("Scraping completed successfully")

 Loading city: hyderabad
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 62
   -> Loaded cards: 82
   -> Loaded cards: 102
   -> Loaded cards: 122
   -> Loaded cards: 142
   -> Loaded cards: 162
   -> Loaded cards: 182
   -> Loaded cards: 202
   -> Loaded cards: 222
   -> Loaded cards: 242
   -> Loaded cards: 262
   -> Loaded cards: 282
   -> Loaded cards: 302
   -> Loaded cards: 322
   -> Loaded cards: 342
   -> Loaded cards: 362
   -> Loaded cards: 382
   Finished loading 382 cards
   Records scraped: 382
   Time taken: 76.29 seconds

 Loading city: vishakapatnam
   -> Loaded cards: 22
   -> Loaded cards: 42
   -> Loaded cards: 62
   -> Loaded cards: 82
   -> Loaded cards: 102
   -> Loaded cards: 122
   -> Loaded cards: 142
   -> Loaded cards: 162
   -> Loaded cards: 182
   -> Loaded cards: 202
   -> Loaded cards: 222
   -> Loaded cards: 242
   -> Loaded cards: 262
   -> Loaded cards: 282
   -> Loaded cards: 302
   -> Loaded cards: 322
   -> Loaded cards: 342
   -> Loaded cards: 362
   Finished loading 362 cards
   Records scraped: 362
   Time taken: 72.65 seconds

TOTAL TIME: 182.12 seconds
TOTAL RECORDS: 742
Scraping completed successfully

In [35]:
import pandas as pd

# Concatenating dataframes 
final_df = pd.concat([df1, df2, df3, df4, df5], axis=0, ignore_index=True)

# Export to CSV
#final_df.to_csv("final_dataset.csv", index=False)

In [28]:
final_df

,car,variant,km,fuel,transmission,registration,price,location,city
0,2021 Renault Kiger,RXZ 1.0 Turbo MT,76.5K km,petrol,manual,HR51,5.12 Lakh,"Sector 29, Gurgaon",delhi-ncr
1,2017 Maruti Celerio,ZXi (O) AMT,43K km,petrol,automatic,HR26,3.77 Lakh,"Sector 27, Faridabad",delhi-ncr
2,2021 Maruti Dzire,ZXi Plus,52.5K km,petrol,manual,DL1C,6 Lakh,"Dwarka, Delhi",delhi-ncr
3,2016 Honda City,VX CVT,68K km,petrol,automatic,DL2C,5.42 Lakh,"Rohini, Delhi",delhi-ncr
4,2016 Hyundai Grand i10,Sportz 1.2 Kappa VTVT,90K km,petrol,manual,DL12,3.31 Lakh,"Raj Nagar Extension, Ghaziabad",delhi-ncr
...,...,...,...,...,...,...,...,...,...
3915,2022 Hyundai Venue,SX 1.0 Turbo iMT,31.5K km,petrol,manual,TS13,8.17 Lakh,"DSL Virtue Mall, Uppal",vishakapatnam
3916,2020 Maruti Swift,VDi AMT,116.5K km,diesel,automatic,TS08,5.87 Lakh,"DSL Virtue Mall, Uppal",vishakapatnam
3917,2024 Hyundai Verna,SX 1.5 Turbo Petrol MT,42.5K km,petrol,manual,TG07,11.98 Lakh,"Nexus Sujana Mall, Kukatpally",vishakapatnam
3918,2017 Ford EcoSport,Titanium 1.5L Ti-VCT AT,56K km,petrol,automatic,TS07,6.21 Lakh,"D-Mart, Madhapur",vishakapatnam
3919,2018 Maruti Dzire,ZXi Plus AMT,68K km,petrol,automatic,TS09,6.23 Lakh,"Phoenix Trivium, Hafeezpet",vishakapatnam

In [36]:
final_df[['year', 'brand', 'model']] = final_df['car'].str.extract(r'^(\d{4})\s+(\w+)\s+(.+)$')

,car,variant,km,fuel,transmission,registration,price,location,city,year,brand,model
0,2021 Renault Kiger,RXZ 1.0 Turbo MT,76.5K km,petrol,manual,HR51,5.12 Lakh,"Sector 29, Gurgaon",delhi-ncr,2021,Renault,Kiger
1,2017 Maruti Celerio,ZXi (O) AMT,43K km,petrol,automatic,HR26,3.77 Lakh,"Sector 27, Faridabad",delhi-ncr,2017,Maruti,Celerio
2,2021 Maruti Dzire,ZXi Plus,52.5K km,petrol,manual,DL1C,6 Lakh,"Dwarka, Delhi",delhi-ncr,2021,Maruti,Dzire
3,2016 Honda City,VX CVT,68K km,petrol,automatic,DL2C,5.42 Lakh,"Rohini, Delhi",delhi-ncr,2016,Honda,City
4,2016 Hyundai Grand i10,Sportz 1.2 Kappa VTVT,90K km,petrol,manual,DL12,3.31 Lakh,"Raj Nagar Extension, Ghaziabad",delhi-ncr,2016,Hyundai,Grand i10
...,...,...,...,...,...,...,...,...,...,...,...,...
3915,2022 Hyundai Venue,SX 1.0 Turbo iMT,31.5K km,petrol,manual,TS13,8.17 Lakh,"DSL Virtue Mall, Uppal",vishakapatnam,2022,Hyundai,Venue
3916,2020 Maruti Swift,VDi AMT,116.5K km,diesel,automatic,TS08,5.87 Lakh,"DSL Virtue Mall, Uppal",vishakapatnam,2020,Maruti,Swift
3917,2024 Hyundai Verna,SX 1.5 Turbo Petrol MT,42.5K km,petrol,manual,TG07,11.98 Lakh,"Nexus Sujana Mall, Kukatpally",vishakapatnam,2024,Hyundai,Verna
3918,2017 Ford EcoSport,Titanium 1.5L Ti-VCT AT,56K km,petrol,automatic,TS07,6.21 Lakh,"D-Mart, Madhapur",vishakapatnam,2017,Ford,EcoSport
3919,2018 Maruti Dzire,ZXi Plus AMT,68K km,petrol,automatic,TS09,6.23 Lakh,"Phoenix Trivium, Hafeezpet",vishakapatnam,2018,Maruti,Dzire

In [38]:
final_df.drop(columns=['car'],inplace=True)
final_df

,variant,km,fuel,transmission,registration,price,location,city,year,brand,model
0,RXZ 1.0 Turbo MT,76.5K km,petrol,manual,HR51,5.12 Lakh,"Sector 29, Gurgaon",delhi-ncr,2021,Renault,Kiger
1,ZXi (O) AMT,43K km,petrol,automatic,HR26,3.77 Lakh,"Sector 27, Faridabad",delhi-ncr,2017,Maruti,Celerio
2,ZXi Plus,52.5K km,petrol,manual,DL1C,6 Lakh,"Dwarka, Delhi",delhi-ncr,2021,Maruti,Dzire
3,VX CVT,68K km,petrol,automatic,DL2C,5.42 Lakh,"Rohini, Delhi",delhi-ncr,2016,Honda,City
4,Sportz 1.2 Kappa VTVT,90K km,petrol,manual,DL12,3.31 Lakh,"Raj Nagar Extension, Ghaziabad",delhi-ncr,2016,Hyundai,Grand i10
...,...,...,...,...,...,...,...,...,...,...,...
3915,SX 1.0 Turbo iMT,31.5K km,petrol,manual,TS13,8.17 Lakh,"DSL Virtue Mall, Uppal",vishakapatnam,2022,Hyundai,Venue
3916,VDi AMT,116.5K km,diesel,automatic,TS08,5.87 Lakh,"DSL Virtue Mall, Uppal",vishakapatnam,2020,Maruti,Swift
3917,SX 1.5 Turbo Petrol MT,42.5K km,petrol,manual,TG07,11.98 Lakh,"Nexus Sujana Mall, Kukatpally",vishakapatnam,2024,Hyundai,Verna
3918,Titanium 1.5L Ti-VCT AT,56K km,petrol,automatic,TS07,6.21 Lakh,"D-Mart, Madhapur",vishakapatnam,2017,Ford,EcoSport
3919,ZXi Plus AMT,68K km,petrol,automatic,TS09,6.23 Lakh,"Phoenix Trivium, Hafeezpet",vishakapatnam,2018,Maruti,Dzire

In [40]:
final_df=final_df[['year','brand','model','variant','km','fuel','transmission','registration','price','location','city']]
final_df

,year,brand,model,variant,km,fuel,transmission,registration,price,location,city
0,2021,Renault,Kiger,RXZ 1.0 Turbo MT,76.5K km,petrol,manual,HR51,5.12 Lakh,"Sector 29, Gurgaon",delhi-ncr
1,2017,Maruti,Celerio,ZXi (O) AMT,43K km,petrol,automatic,HR26,3.77 Lakh,"Sector 27, Faridabad",delhi-ncr
2,2021,Maruti,Dzire,ZXi Plus,52.5K km,petrol,manual,DL1C,6 Lakh,"Dwarka, Delhi",delhi-ncr
3,2016,Honda,City,VX CVT,68K km,petrol,automatic,DL2C,5.42 Lakh,"Rohini, Delhi",delhi-ncr
4,2016,Hyundai,Grand i10,Sportz 1.2 Kappa VTVT,90K km,petrol,manual,DL12,3.31 Lakh,"Raj Nagar Extension, Ghaziabad",delhi-ncr
...,...,...,...,...,...,...,...,...,...,...,...
3915,2022,Hyundai,Venue,SX 1.0 Turbo iMT,31.5K km,petrol,manual,TS13,8.17 Lakh,"DSL Virtue Mall, Uppal",vishakapatnam
3916,2020,Maruti,Swift,VDi AMT,116.5K km,diesel,automatic,TS08,5.87 Lakh,"DSL Virtue Mall, Uppal",vishakapatnam
3917,2024,Hyundai,Verna,SX 1.5 Turbo Petrol MT,42.5K km,petrol,manual,TG07,11.98 Lakh,"Nexus Sujana Mall, Kukatpally",vishakapatnam
3918,2017,Ford,EcoSport,Titanium 1.5L Ti-VCT AT,56K km,petrol,automatic,TS07,6.21 Lakh,"D-Mart, Madhapur",vishakapatnam
3919,2018,Maruti,Dzire,ZXi Plus AMT,68K km,petrol,automatic,TS09,6.23 Lakh,"Phoenix Trivium, Hafeezpet",vishakapatnam

In [41]:
final_df.to_csv("final_dataset.csv", index=False)